.header {
  background: url(../img/roadheader.png) no-repeat 10% 10%;
  height: 450px;
  margin-bottom: 2em;
  h1{
    color: #F7F6F1;
    position: absolute;
    bottom: -4px;
    right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-shadow: 1.5px 1.5px #434742;
  }
}
.navbar-default {
  background-color: #CFD6D1;
}

  h2 {
    margin-top: 45px;
}

body {
  background-color: #CFD6D1;
}
