.header {
  background: url(/img/page-header-bg.jpg) no-repeat 50% 50%;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.8);
}

.navbar-default {
  background-color: rgb(239, 227, 213);
}

body {
  background-color: rgb(207, 214, 209);
}
