.header {
  background: url(/img/roadheader.png) no-repeat 10% 10%;
  color: white;
  text-shadow: 1.2px 1.2px rgba(46,85,106,1);
}

.navbar-default {
  background-color: rgb(239, 227, 213);
}

body {
  background-color: rgb(207, 214, 209);
}
