{% extends 'page.html' %}

{% block content %}
<div class="header row col-md-12 container">
        <h1>My Heart and I are leaving San Francisco</h1>
</div>
<div>
  <h3>Recent posts</h3>
      {% for post in site.posts %}
      <div class="article">
        <h2 class="page-heading">{{ post.title }}</h2>
        <div class="meta">
          Posted by {{ post.author }}
        </div>

        <div class="article-summary">
          {{ post.summary | safe }}

          <a href="{{ post.permalink }}">read more...</a>
        </div>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
