{% extends 'page.html' %}

{% block content %}
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Move Blog</h1>
        <p><b>This summer two car-hating dogs and two humans traverse the continent to make a new home on the east coast.  This is our story.</b></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Recent posts</h3>
    </div>
  </div>
</div>
{% endblock %}
